<section style="display: flex; flex-direction: column; justify-content: center; width: 100%; border: 3px solid #C077C8; border-radius: 12px;">
  <h2 style="font-family:'Courier New', Courier, monospace; text-align: center; font-size: 24px; font-weight: 800; margin: 20px 0px 20px 0px">REQUEST FOR ACCOUNT APPROVAL</h2>
  <p style="font-size: 18px; font-weight:600; font-family:'Courier New', Courier, monospace; line-height: 32px; text-align: center">
    <strong>{{ name }}</strong> has requested approval for their account
  </p>
  <p style="font-size: 16px; font-weight:600; font-family:'Courier New', Courier, monospace; text-align: center; margin: 20px 0px 12px 0px">&copy; PES Event Manager 2023</p>
  </section>